body {
  margin: 0;
  font-family: sans-serif;
  background: whitesmoke;
  padding: 2rem;
}

/* Text
-------------------------------------------------- */
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: darkseagreen;
}

.caption h2 {
  font-size: 1.5rem;
  margin: 1rem;
  color: sandybrown;
}

.caption p {
  font-size: 1rem;
  color: rosybrown;
}

/* Image
-------------------------------------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.item {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  max-width: 500px;
  flex: 1 1 300px;
}

.item img {
  width: 100%;
  display: block;
}

p{
  margin: 1rem;
}

/* iPad 
-------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .caption h2 {
    font-size: 1.25rem;
  }

  .caption p {
    font-size: 0.95rem;
  }
}

/* Mobile
-------------------------------------------------- */
@media screen and (max-width: 768px) {
  .caption h2 {
    font-size: 1.1rem;
  }

  .caption p {
    font-size: 0.9rem;
  }

  .container {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Orientation
-------------------------------------------------- */
@media (orientation: landscape) {
  .caption p {
    color: darkseagreen;
  }

  .item img {
    border: 2px solid #eee;
  }
}
